
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-card {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.custom-input {
  width: 100%;
  margin-bottom: 10px;
}
